nav {
  position: absolute;
  left: 30%;
}

nav a{
  display: inline-block;
  padding-left: 10px;
  padding-left: 10px;
  text-align: center;
  background-color: #ccccff;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1#header{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 45px;
}

figcaption {
  text-align: center;
}

p#description {
  text-align: center;
  margin: auto;
  width: 800px;
  padding: 10px;
}


div {
  background-color: cornflowerblue;
  float: left;
  text-align: center;
  margin: auto;
  width: 25%
}

